.container {
    margin-top: 30px;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
  }
  
  
  .projects {
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    gap: 25px;
    width: 100%;
  }
  @media screen and (max-width: 800px){
    .container{
      margin: 0px 0px;
      margin-bottom: 20px;
    }
    .projects{
      justify-content: center;
    }
  }

  @media screen and (max-width: 1024px){
    .projects{
      justify-content: center;
    }
  }
  
  
