.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
    box-shadow: 0 16px 14px 0 #04152d;
    padding: 18px 20px;
    max-width: 345px;
    padding-top: 60px;
  }


  
  .image {
    margin-bottom: 26px;
  }

  
  .title {
    font-size: 25px;
    font-weight: 700;
  }
  
  .description {
    margin-top: 6px;
    font-size: 25px;
    font-weight: 400;
  }
  
  .skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
  }
  
  .skill {
    font-size: 25px;
    font-weight: 400;
    border-radius: 100px;
    background: rgb(13, 12, 12);
    padding: 2px 22px;
  }
  
  .links {
    width: 100%;
    margin-top: 26px;
    display: flex;
    justify-content: space-around;
  }
  
  .link {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 600;
    border-radius: 100px;
    background: rgba(89, 156, 181, 0.477);
    padding: 1px 22px;
  }

  @media screen and (max-width: 400px){
    .image {
      margin-bottom: 20px;
      width: 100%;
    }
    .container{
      padding: 10px 15px;
    }
    .title {
      font-size: 20px;
    }
    .description {
      font-size: 15px;
    }
    .skills {
      gap: 2px;
    }
    .skill {
      font-size: 18px;
      padding: 4px 10px;
    }
    .links {
      margin-top: 16px;
    }  
    .link {
      font-size: 20px;
      padding: 1px 15px;
    }
  }