.viewall{
    margin: 50px;
    text-align: center;
  }

  .viewall a{
     font-size: 25px;
     font-weight: 700;
     text-decoration: none;
     color: white;
     padding: 10px 30px;
     border-radius: 50px;
     background-color: rgba(43, 53, 145, 0.677);
     box-shadow: 5px 4px 10px 10px #101010a3;
  }

  .viewall a:hover{
    background-color: rgb(43, 53, 145, 0.3);
    color: rgba(255, 255, 255, 0.721);
  }

  